</head>
<body>
  <nav>
		<i class="fas fa-solid fa-plane-departure"></i>
    <a 
      href="/flights" 
      class=<%= title === 'Master Flight List' ? 'active' : '' %>
    >
      Master Flight List
    </a>
  </nav>